@import "styles/media";

.wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.tile {
  padding: 10px;
  transition: width .3s;

  @media (max-width: $tablet) {
    width: 80% !important;
  }
}
